body {
    font-family: Arial, sans-serif;
    background-color: #f4f7f8;
    padding: 20px;
}

h1 {
    color: green;
}

input {
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgreen;
}

ul {
    margin-top: 20px;
}

li {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    list-style: none;
    border-radius: 5px;
}

#list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 15px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
}

.card h3 {
    margin-bottom: 10px;
}

.card button {
    margin-top: 10px;
    background-color: red;
}

.card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}